<header id="header">
  <div class="center">
      <div id="logo">
          <img src="https://cdn.icon-icons.com/icons2/1851/PNG/512/moneyincrease_116581.png" class="app-logo" alt="Logotipo" />
      </div>
      <nav id="menu">
          <ul>
            <li>
                <a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a>
            </li>
              <li>
                  <a [routerLink]="['/crearcliente']" [routerLinkActive]="['active']">Crear Cliente</a>
              </li>
              <li>
                  <a [routerLink]="['/consignar']" [routerLinkActive]="['active']">Consignar</a>
              </li>
              <li>
                  <a [routerLink]="['/retirar']" [routerLinkActive]="['active']">Retirar</a>
              </li>
          </ul>
      </nav>
      <div class="clearfix"></div>
  </div>
</header>