<h1>Listado de Clientes</h1>
<div *ngIf="procesando">
    ...Procesando
</div>
<div *ngIf="error" class="alert alert-danger alert-dismissible">
    <strong>Operación Fallida!</strong>{{respuestageneral.mensaje}}
    <button (click)="onCloseAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div *ngIf="advertencia" class="alert alert-warning alert-dismissible">
    <strong>No se encontro clientes</strong>
    <button (click)="onCloseAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>    
<div id="articles" *ngIf="clientes">
        <div *ngFor="let cliente of clientes, let i = index">
            <article class="article-item"> 
                <div class="image-wrap">
                    <img src="https://image.freepik.com/vector-gratis/ilustracion-icono-dibujos-animados-cajero-masculino-concepto-icono-profesion-personas_138676-2123.jpg" alt="cliente"/>
                </div>
                <h2>{{cliente.nombres}} {{cliente.apellidos}}</h2>
                <span class="date">
                    Teléfono: {{cliente.telefono}}
                </span>
                <a [routerLink]="['modificar-cliente',cliente.id]">Ver más</a>
                <div class="clearfix"></div>
              </article>
        </div>
    </div>