<h1>Listado de Clientes</h1>
    <div id="articles" *ngIf="clientes">
        <div *ngFor="let cliente of clientes, let i = index">
            <article class="article-item"> 
                <div class="image-wrap">
                    <img src="https://image.freepik.com/vector-gratis/ilustracion-icono-dibujos-animados-cajero-masculino-concepto-icono-profesion-personas_138676-2123.jpg" alt="cliente"/>
                </div>
                <h2>{{cliente.nombre}} {{cliente.apellido}}</h2>
                <span class="date">
                    Teléfono: {{cliente.telefono}}
                </span>
                <a [routerLink]="['modificar-cliente',cliente.id]">Ver más</a>
                <div class="clearfix"></div>
              </article>
        </div>
    </div>